@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

html {
    overflow-y: scroll;
    margin: 0 8px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    animation: fade 0.5s ease-in;
}

.topPanel {
    padding-left: 16px;
    padding-right: 2px;
}

.appName {
    user-select: none;
}

label .import {
    margin: 2px 8px 0 8px;
}

div .chip {
    margin-top: 4px;
    margin-right: 8px;
}

#input {
    display: none;
    position: absolute;
    top: -1000px;
}

#main .grid {
    margin-bottom: 8px;
}

#main .grid .gridItem {
    padding-top: 2px;
    padding-bottom: 0;
}

.relative {
    position: relative;
}

.circle {
    position: absolute;
    left: -4px;
    z-index: 100;
    width: 34px;
    height: 34px;
    background: radial-gradient(
        ellipse at center,
      rgba(33, 150, 243, 0.6) 0%,
      rgba(0, 0, 0, 0) 40%
    );
}

.graph {
    margin: 2px;
}

.resizable {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.tableDiv {
    position: relative;
    margin-top: 8px;
    margin-bottom: 6px;
}

.tableSwitch {
    position: absolute;
    top: -40px;
    right: 0;
}

.table {
    padding-top: 4px;
    overflow: auto;
}

.table.limitedHeight {
    max-height: 400px;
}

.table .tableHeader {
    font-size: 12px;
    line-height: 16px;
}

.table .tableHeader.narrow {
    width: 60px;
}

.table .MuiTableCell-sizeSmall {
    padding: 6px 6px 6px 12px;
}

.table tbody tr:hover td {
    color: rgba(255, 255, 255);
    background-color: rgba(33, 150, 243);
}

.infoDialog {
    margin: 20px;
    user-select: none;
}

.dialog .infoButton {
    margin-top: 4px;
}
