@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    animation: fade 0.5s ease-in;
}

.grid {
    width: 100%;
    padding: 4px;
}

.appName {
    width: 120px;
    user-select: none;
}

.link {
    padding-right: 16px;
}

.icon {
    margin-right: 8px;
}

#input {
    display: none;
    position: absolute;
    top: -1000px;
}

.resizable {
    margin-bottom: 4px;
}

.resizing {
    visibility: hidden;
}

.hidden {
    display: none;
}

tbody tr {
    height: 24px !important;
}
