@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

html, body {
    margin: 8px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    animation: fade 0.5s ease-in;
}

.topPanel {
    padding-left: 16px;
    padding-right: 16px;
}

.appName {
    user-select: none;
}

.chip {
    margin-right: -8px;
}

.link {
    padding-right: 16px;
}

.icon {
    margin-right: 8px;
}

#input {
    display: none;
    position: absolute;
    top: -1000px;
}

.graph {
    margin: 2px;
}

.resizable {
    margin-bottom: 6px;
}

.resizing {
    _visibility: hidden;
}

.hidden {
    _display: none;
}

tbody tr {
    height: 24px !important;
}
